<div id="preloader">
		<div id="loading"> </div>
	</div>

<section class="inner-main">

        <div class="inner-header">
            <div class="container">
               <div class="col-md-12">
                  <!-- heading-text  --> 
                  <div class="heading-text">
                     <h1>About Us</h1>
                     <ul>
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li><a href="/about">About Us</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
		<!-- inner-main -->
		<div class="tranier-container">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>Wellcome to Niyama Fitness </h2>
						<p>Niyama is where you can find balance, harmony and energy renewal amidst the hectic bustle of everyday pressures and deadlines. Relax &amp; enjoy a personalized day yoga experiencExperience of Fitness</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<!-- about-img -->
						<div class="about-img">
							<img src="assets/images/about-img.jpg" alt="traniner-detail-img">
						</div>
						<!-- /about-img -->
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<!-- about-text -->
						<div class="about-text">
							<div class="panel-group" id="accordion">
								<h3>Why Choose Us?</h3>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="about.html#collapseOne">
                                    <span class="glyphicon glyphicon-minus"></span>
                                    What Does Yoga Mean?
                                    </a>
                                 </h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in">
										<div class="panel-body">
											Nayama focus is on doing what it takes to get client results. As a result, staffing approaches need to be flexible within offices and regions to accommodate the needs of our clients. Each office makes the decision about whether to staff consultants on two cases or on one case, based on the needs of the clients it is serving.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="about.html#collapseTwo">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Why Practice Yoga?
                                    </a>
                                 </h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse">
										<div class="panel-body">
											We provide all amenities and basic cosmetics at the spa. If you would like to fix your makeup after the treatment, please bring your own cosmetics.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="about.html#collapseThree">
                                    <span class="glyphicon glyphicon-plus"></span>
                                     Which Poses Are Best for Insomnia?
                                    </a>
                                 </h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body">
											We provide all amenities and basic cosmetics at the spa. If you would like to fix your makeup after the treatment, please bring your own cosmetics.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="about.html#collapseFoure">
                                    <span class="glyphicon glyphicon-plus"></span>
                                     How Does Yoga Build Pain Tolerance?
                                    </a>
                                 </h4>
									</div>
									<div id="collapseFoure" class="panel-collapse collapse">
										<div class="panel-body">
											We provide all amenities and basic cosmetics at the spa. If you would like to fix your makeup after the treatment, please bring your own cosmetics.
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /about-text -->
					</div>
				</div>
			</div>
		</div>
		<section class="trainer-bg trainer-bg2 t-pad">
			<!--  trainer  -->
			<div class="container">
				<div class="title">
					<h2>Best Trainer</h2>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
						<div class="trainer-box">
							<div class="trainer-img">
								<img src="assets/images/trainer-img2.jpg" alt="trainer-img1">
								<a href="/about" class="hover">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
							</div>
							<div class="trainer-text">
								<h6>Noah Leonard</h6>
								<p><span>Fitness Instructors</span></p>
								<div class="shire-icon">
									<ul>
										<li><a href="/about"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="/about"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="/about"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
						<div class="trainer-box">
							<div class="trainer-img">
								<img src="assets/images/trainer-img1.jpg" alt="trainer-img2">
								<a href="/about" class="hover">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
							</div>
							<div class="trainer-text">
								<h6>Noah Leonard</h6>
								<p><span>Fitness Instructors</span></p>
								<div class="shire-icon">
									<ul>
										<li><a href="/about"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="/about"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="/about"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
						<div class="trainer-box">
							<div class="trainer-img">
								<img src="assets/images/trainer-img8.jpg" alt="trainer-img3">
								<a href="/about" class="hover">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
							</div>
							<div class="trainer-text">
								<h6>Noah Leonard</h6>
								<p><span>Fitness Instructors</span></p>
								<div class="shire-icon">
									<ul>
										<li><a href="/about"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="/about"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="/about"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
						<div class="trainer-box">
							<div class="trainer-img">
								<img src="assets/images/trainer-img9.jpg" alt="trainer-img4">
								<a href="/about" class="hover">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
							</div>
							<div class="trainer-text">
								<h6>Noah Leonard</h6>
								<p><span>Fitness Instructors</span></p>
								<div class="shire-icon">
									<ul>
										<li><a href="/about"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="/about"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="/about"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!--  map  -->
						<!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
						<div id="map"></div>
						<!--  /map  -->
					</div>

				</div>
				<div class="row">
					<div class="address">
						<div class="text-center col-md-4">
							<h4>France</h4> 40 Baria Sreet 133/2 NewYork City, US
							<br/> Email: info.contact@gmail.com
							<br/> Phone: 123-456-7890
						</div>
						<div class="text-center col-md-4">
							<h4>United States</h4> 40 Baria Sreet 133/2 NewYork City, US
							<br/> Email: info.contact@gmail.com
							<br/> Phone: 123-456-7890
						</div>
						<div class="text-center col-md-4">
							<h4>Viet Nam</h4> 40 Baria Sreet 133/2 NewYork City, US
							<br/> Email: info.contact@gmail.com
							<br/> Phone: 123-456-7890
						</div>
					</div>
				</div>
			</div>
			<!--  /trainer  -->
		</section>
		<!-- /inner-main -->
	</section>