
<div id="preloader">
		<div id="loading"> </div>
	</div>
<section class="inner-main">
		<!-- inner-main -->
		<div class="tranier-container">
		 <div class="inner-header">
            <div class="container">
               <div class="col-md-12">
                  <!-- heading-text  --> 
                  <div class="heading-text">
                     <h1>Contact</h1>
                     <ul>
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li><a href="/contact">Contact</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>Wellcome to Niyama Fitness </h2>
						<p>Niyama is where you can find balance, harmony and energy renewal amidst the hectic bustle of everyday pressures and deadlines. Relax &amp; enjoy a personalized day yoga experiencExperience of Fitness</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<!-- about-img -->
						<div class="about-img">
							<img src="assets/images/contact-img.jpg" alt="traniner-detail-img">
						</div>
						<!-- /about-img -->
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<!-- about-text -->							
		<div class="contact-form2">
		<h3>Contact Us By Email!</h3>
									<!-- form -->
		<form name="ajax-form" id="contact-form2" action="https://formsubmit.io/send/90aa5128-c301-47bf-ae81-794fa4c07dda" method="post" class="contact-form">
	<input name="_redirect" type="hidden" id="name" value="http://zcube.in/flyapps/flyapp/index.html#contact">
	<div class="form-group">
	<input class="form-control" id="name1" name="name" placeholder="Your name" type="text" value="" required /> </div>
										<!-- /Form-name -->
	<div class="form-group">
	<input class="form-control" id="email" name="email" type="email" placeholder="Your email" value="" required> </div>
										<!-- /Form-email -->
	<div class="form-group">
	<input class="form-control" id="subject" name="subject" type="text" placeholder="Your subject" value="" required> </div>
										<!-- /Form-subject -->
	<div class="form-group">
	<textarea class="form-control" id="message" name="message" rows="4" placeholder="Message" required></textarea>
	</div>
										<!-- /Form Msg -->
	<div class="row">
	<div class="col-xs-12">
												<div class="text-center">
													<button type="submit" class="btn btn-custom" id="send">send messages</button>
												</div>
				</div>
											<!-- /col -->
					</div>
										<!-- /row -->
					</form>
									<!-- /form -->

					</div>
						<!-- /about-text -->
					</div>
				</div>
			</div>
		</div>
		<section class="trainer-bg trainer-bg2 t-pad">
			<!--  trainer  -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!--  map  -->
						<!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
						<div id="map"></div>
						<!--  /map  -->
					</div>

				</div>
		<div class="row">
	<div class="address">
		<div class="text-center col-md-4">
		<h4>France</h4> 40 Baria Sreet 133/2 NewYork City, US
			<br/> Email: info.contact@gmail.com
			<br/> Phone: 123-456-7890
			</div>
		<div class="text-center col-md-4">
		<h4>United States</h4> 40 Baria Sreet 133/2 NewYork City, US
			<br/> Email: info.contact@gmail.com
			<br/> Phone: 123-456-7890
			</div>
		<div class="text-center col-md-4">
		<h4>Viet Nam</h4> 40 Baria Sreet 133/2 NewYork City, US
		<br/> Email: info.contact@gmail.com
			<br/> Phone: 123-456-7890
		</div>
			</div>
				</div>
			</div>
			<!--  /trainer  -->
		</section>
		<!-- /inner-main -->
	</section>