<div id="preloader">
        <div id="loading"> </div>
    </div>

<section class="welcome">
        <!--  welcome  -->
        <div class="container">
            <div class="title">
                <h2>Wellcome to Niyama Fitness </h2>
                <p>Niyama is where you can find balance, harmony and energy renewal amidst the hectic bustle of everyday pressures and deadlines. Relax & enjoy a personalized day yoga experiencExperience of Fitness</p>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="row welcom-text">
                        <div class="col-sm-9 col-md-9 text-right">
                            <div class="wtext">
                                <h6>You Are Happier</h6>
                                People that did yoga for an hour have 27% higher happy brain chemical, GABA.
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <div class="wicon">
                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row welcom-text">
                        <div class="col-sm-9 col-md-9 text-right">
                            <div class="wtext">
                                <h6>Heart Benefits</h6>
                                Yoga can help lower blood pressure, cholesterrol, and blod sugar , all of which are good
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <div class="wicon">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row welcom-text">
                        <div class="col-sm-9 col-md-9 text-right">
                            <div class="wtext">
                                <h6>Better Body Image</h6>
                                Focusing inward during yoga helps you be more satisfied with your body and less critical if it.
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <div class="wicon">
                                <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 text-center">
                    <img src="assets/images/giral-img2.jpg" alt="13">
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="row welcom-text">
                        <div class="col-sm-3 col-md-3">
                            <div class="wicon">
                                <i class="fa fa-moon-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-9 text-left">
                            <div class="wtext">
                                <h6>You Sleep Better</h6>
                                45 minutes of yoga can help sleep an hour longer and fall asleep faster.
                            </div>
                        </div>
                    </div>
                    <div class="row welcom-text">
                        <div class="col-sm-3 col-md-3">
                            <div class="wicon">
                                <i class="fa fa-balance-scale" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-9 text-left">
                            <div class="wtext">
                                <h6>Top To Toe Tonight</h6>
                                In some pose you’re lifting every pound of your body weight.
                            </div>
                        </div>
                    </div>
                    <div class="row welcom-text">
                        <div class="col-sm-3 col-md-3">
                            <div class="wicon">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-9 text-left">
                            <div class="wtext">
                                <h6>Better Libido</h6>
                                Yoga helps reduce anxiety, increase awareness, and speeds the release of hormones.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  /welcome  -->
    </section>
    <section class="schedule-bg">
        <!--  /schedule  -->
        <div class="container">
            <div class="title">
                <h2>Schedule</h2>
            </div>
            <div class="owl-carousel owl-theme schedule-carousel">

                <div class="item">
                    <div class="col-sm-6 col-md-6">
                        <div class="schedule-box">
                            <div class="col-sm-6 col-md-6">
                                <img src="assets/images/schudel-img5.jpg" alt="13">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="/services">Class : Yoga for Beginner</a>
                                <p>Trainer : Arianne Hidi</p>
                                <p class="date">15 / 03 / 2017 <br/>6:00 am - 8:00 pm</p>
                                <a href="/booking" class="join">Join now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="schedule-box">
                            <div class="col-sm-6 col-md-6">
                                <img src="assets/images/schudel-img6.jpg" alt="13">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="/services">Class : Postnatal Yoga</a>
                                <p>Trainer : Arianne Hidi</p>
                                <p class="date">15 / 03 / 2017 <br/>6:00 am - 8:00 pm</p>
                                <a href="/booking" class="join">Join now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="schedule-box">
                            <div class="col-sm-6 col-md-6">
                                <img src="assets/images/schudel-img7.jpg" alt="13">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="/services">Class : Class : Yoga for Kids</a>
                                <p>Trainer : Arianne Hidi</p>
                                <p class="date">15 / 03 / 2017 <br/>6:00 am - 8:00 pm</p>
                                <a href="/booking" class="join">Join now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="schedule-box">
                            <div class="col-sm-6 col-md-6">
                                <img src="assets/images/schudel-img8.jpg" alt="13">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="/services">Class : Yoga for Arthritis</a>
                                <p>Trainer : Arianne Hidi</p>
                                <p class="date">15 / 03 / 2017 <br/>6:00 am - 8:00 pm</p>
                                <a href="/booking" class="join">Join now!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-6 col-md-6">
                        <div class="schedule-box">
                            <div class="col-sm-6 col-md-6">
                                <img src="assets/images/schudel-img5.jpg" alt="13">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="/services">Class : Yoga for Beginner</a>
                                <p>Trainer : Arianne Hidi</p>
                                <p class="date">15 / 03 / 2017 <br/>6:00 am - 8:00 pm</p>
                                <a href="/booking" class="join">Join now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="schedule-box">
                            <div class="col-sm-6 col-md-6">
                                <img src="assets/images/schudel-img6.jpg" alt="13">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="/services">Class : Postnatal Yoga</a>
                                <p>Trainer : Arianne Hidi</p>
                                <p class="date">15 / 03 / 2017 <br/>6:00 am - 8:00 pm</p>
                                <a href="/booking" class="join">Join now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="schedule-box">
                            <div class="col-sm-6 col-md-6">
                                <img src="assets/images/schudel-img7.jpg" alt="13">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="/services">Class : Class : Yoga for Kids</a>
                                <p>Trainer : Arianne Hidi</p>
                                <p class="date">15 / 03 / 2017 <br/>6:00 am - 8:00 pm</p>
                                <a href="/booking" class="join">Join now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="schedule-box">
                            <div class="col-sm-6 col-md-6">
                                <img src="assets/images/schudel-img8.jpg" alt="13">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="/services">Class : Yoga for Arthritis</a>
                                <p>Trainer : Arianne Hidi</p>
                                <p class="date">15 / 03 / 2017 <br/>6:00 am - 8:00 pm</p>
                                <a href="/booking" class="join">Join now!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-6 col-md-6">
                        <div class="schedule-box">
                            <div class="col-sm-6 col-md-6">
                                <img src="assets/images/schudel-img5.jpg" alt="13">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="/services">Class : Yoga for Beginner</a>
                                <p>Trainer : Arianne Hidi</p>
                                <p class="date">15 / 03 / 2017 <br/>6:00 am - 8:00 pm</p>
                                <a href="/booking" class="join">Join now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="schedule-box">
                            <div class="col-sm-6 col-md-6">
                                <img src="assets/images/schudel-img6.jpg" alt="13">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="/services">Class : Postnatal Yoga</a>
                                <p>Trainer : Arianne Hidi</p>
                                <p class="date">15 / 03 / 2017 <br/>6:00 am - 8:00 pm</p>
                                <a href="/booking" class="join">Join now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="schedule-box">
                            <div class="col-sm-6 col-md-6">
                                <img src="assets/images/schudel-img7.jpg" alt="13">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="/services">Class : Class : Yoga for Kids</a>
                                <p>Trainer : Arianne Hidi</p>
                                <p class="date">15 / 03 / 2017 <br/>6:00 am - 8:00 pm</p>
                                <a href="/booking" class="join">Join now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="schedule-box">
                            <div class="col-sm-6 col-md-6">
                                <img src="assets/images/schudel-img8.jpg" alt="13">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="/services">Class : Yoga for Arthritis</a>
                                <p>Trainer : Arianne Hidi</p>
                                <p class="date">15 / 03 / 2017 <br/>6:00 am - 8:00 pm</p>
                                <a href="/booking" class="join">Join now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  /schedule  -->
    </section>
    <section class="video-bg">
        <div class="container">
            <div class="title">
                <h2>Top Video</h2>
            </div>
            <div class="video-wrraper">
                <!-- .video-wrraper -->
                <div class="col-xs-12 col-sm-8 col-md-8 pad">
                    <!-- tabs right -->
                    <div class="tabbable tabs-right">
                        <div class="tab-content">
                             <div class="tab-pane" id="1">
                              <iframe height="410" src="https://www.youtube.com/embed/YdB1HMCldJY" allowfullscreen></iframe>
                           </div>
                           <div class="tab-pane active" id="2">
                              <iframe height="410" src="https://www.youtube.com/embed/ELJDd6UTGAQ" allowfullscreen></iframe>
                           </div>

                           <div class="tab-pane" id="3">
                              <iframe height="410" src="https://www.youtube.com/embed/YdB1HMCldJY" allowfullscreen></iframe>
                           </div>

                           <div class="tab-pane" id="4">
                              <iframe height="410" src="https://www.youtube.com/embed/ELJDd6UTGAQ" allowfullscreen></iframe>
                           </div>

                           <div class="tab-pane" id="5">
                                <iframe height="410" src="https://www.youtube.com/embed/YdB1HMCldJY" allowfullscreen></iframe>
                           </div>

                           <div class="tab-pane" id="6">
                             <iframe height="410" src="https://www.youtube.com/embed/ELJDd6UTGAQ" allowfullscreen></iframe>
                           </div>
                        </div>
                    </div>
                    <!-- /tabs -->
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 pad">
                    <!-- tabs right -->
                    <div class="tabbable tabs-right">
                        <div class="video-tab-title">
                            <div class="col-xs-4 col-sm-4 col-md-4"><i class="fa fa-caret-right" aria-hidden="true"></i></div>
                            <div class="col-xs-8 col-sm-8 col-md-8">Winners and losers we didn’t see coming </div>
                        </div>
                        <ul id="style-default" class="scrollbar">
                            <li>
                                <a href="index3.html#1" data-toggle="tab">
                                    <div class="col-xs-4 col-sm-4 col-md-4"><img src="assets/images/small-v1.jpg" alt="inimgsmall"></div>
                                    <div class="col-xs-8 col-sm-8 col-md-8">Dance Fitness Party? Yes, please! <br/><span>10:50</span></div>
                                </a>
                            </li>
                            <li class="active">
                                <a href="index3.html#2" data-toggle="tab">
                                    <div class="col-xs-4 col-sm-4 col-md-4"><img src="assets/images/small-v2.jpg" alt="inimgsmall"></div>
                                    <div class="col-xs-8 col-sm-8 col-md-8">Fitness Routine 2017 | Get Bikini Body Ready! <br/><span>10:50</span></div>
                                </a>
                            </li>
                            <li>
                                <a href="index3.html#3" data-toggle="tab">
                                    <div class="col-xs-4 col-xs-4 col-md-4"><img src="assets/images/small-v3.jpg" alt="inimgsmall"></div>
                                    <div class="col-xs-8 col-sm-8 col-md-8">Morning Yoga Energizing Morning Sequence <br/><span>10:50</span></div>
                                </a>
                            </li>
                            <li>
                                <a href="index3.html#4" data-toggle="tab">
                                    <div class="col-xs-4 col-xs-4 col-md-4"><img src="assets/images/small-v4.jpg" alt="inimgsmall"></div>
                                    <div class="col-xs-8 col-sm-8 col-md-8">5 Gym Machines To Avoid for Thighs, Back and Abs <br/><span>10:50</span></div>
                                </a>
                            </li>
                            <li>
                                <a href="index3.html#5" data-toggle="tab">
                                    <div class="col-xs-4 col-xs-4 col-md-4"><img src="assets/images/small-v5.jpg" alt="inimgsmall"></div>
                                    <div class="col-xs-8 col-sm-8 col-md-8">Winners and losers we didn’t see coming <br/><span>10:50</span></div>
                                </a>
                            </li>
                            <li>
                                <a href="index3.html#6" data-toggle="tab">
                                    <div class="col-xs-4 col-xs-4 col-md-4"><img src="assets/images/small-v1.jpg" alt="inimgsmall"></div>
                                    <div class="col-xs-8 col-sm-8 col-md-8">My Fat Burning Routine (Treadmill Interval Running) <br/><span>10:50</span></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /tabs -->
                </div>
                <!-- /.video-wrraper -->

            </div>
        </div>
    </section>
    <section class="counter">
        <!-- START COUNTER SECTION -->
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 text-center">
                    <div class="c-icon"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
                    <h2 class="timer" data-to="2456" data-speed="10000">$nbsp;</h2>
                    <span>Total Courses</span>
                </div>
                <div class="col-sm-3 col-md-3 text-center">
                    <div class="c-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                    <h2 class="timer" data-to="4958" data-speed="10000">$nbsp;</h2>
                    <span>Total Members</span>
                </div>
                <div class="col-sm-3 col-md-3 text-center">
                    <div class="c-icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                    <h2 class="timer" data-to="556" data-speed="10000">$nbsp;</h2>
                    <span>Free Tutorials</span>
                </div>
                <div class="col-sm-3 col-md-3 text-center">
                    <div class="c-icon"><i class="fa fa-diamond" aria-hidden="true"></i></div>
                    <h2 class="timer" data-to="389" data-speed="10000">$nbsp;</h2>
                    <span>Best Teachers</span>
                </div>
            </div>
        </div>
    </section>
    <section class="trainer-bg trainer-bg2">
        <!--  trainer  -->
        <div class="container">
            <div class="title">
                <h2>Best Trainer</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <!--  trainer-box  -->
                    <div class="trainer-box">
                        <div class="trainer-img">
                            <img src="assets/images/trainer-img2.jpg" alt="trainer-img1">
                            <a href="/trainer" class="hover">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="trainer-text">
                            <h6>Noah Leonard</h6>
                            <div class="shire-icon">
                                <ul>
                                    <li><a href="/trainer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="/trainer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="/trainer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--  /trainer-box  -->
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <!--  trainer-box  -->
                    <div class="trainer-box">
                        <div class="trainer-img">
                            <img src="assets/images/trainer-img1.jpg" alt="trainer-img2">
                            <a href="/trainer" class="hover">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="trainer-text">
                            <h6>Noah Leonard</h6>
                            <div class="shire-icon">
                                <ul>
                                    <li><a href="index3.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="index3.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="index3.html#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--  /trainer-box  -->
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <!--  trainer-box  -->
                    <div class="trainer-box">
                        <div class="trainer-img">
                            <img src="assets/images/trainer-img8.jpg" alt="trainer-img3">
                            <a href="/trainer" class="hover">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="trainer-text">
                            <h6>Noah Leonard</h6>
                            <div class="shire-icon">
                                <ul>
                                    <li><a href="index3.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="index3.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="index3.html#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--  /trainer-box  -->
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <!--  trainer-box  -->
                    <div class="trainer-box">
                        <div class="trainer-img">
                            <img src="assets/images/trainer-img9.jpg" alt="trainer-img4">
                            <a href="/trainer" class="hover">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="trainer-text">
                            <h6>Noah Leonard</h6>
                            <div class="shire-icon">
                                <ul>
                                    <li><a href="index3.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="index3.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="index3.html#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--  /trainer-box  -->
                </div>
            </div>
        </div>
        <!--  /trainer  -->
    </section>


    <section class="testimonials-bg">
        <!--  testimonials  -->
        <div id="home-slider3" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- .home-slider -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="caption">
                        <div class="header-text2 animated fadeInUpBig">
                            <h2><img src="assets/images/t-logo.png" alt="t-logo"></h2>
                            <p>I have participated in both workshops & classes taught by Sue since 1997. She is a highly skilled, perceptive & empathetic teacher, a fine person with a wonderful sense of humour!</p>
                            <div class="testimonials-text">
                                <img src="assets/images/t-img.jpg" alt="t-logo">
                                <strong>Martha Gloria - <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></strong>
                                <p>Lost 20 LBS in 6 weeks</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="caption">
                        <div class="header-text2 animated fadeInUpBig">
                            <h2><img src="assets/images/t-logo.png" alt="t-logo"></h2>
                            <p>I have participated in both workshops & classes taught by Sue since 1997. She is a highly skilled, perceptive & empathetic teacher, a fine person with a wonderful sense of humour!</p>
                            <div class="testimonials-text">
                                <img src="assets/images/t-img.jpg" alt="t-logo">
                                <strong>Martha Gloria - <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></strong>
                                <p>Lost 20 LBS in 6 weeks</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="caption">
                        <div class="header-text2 animated fadeInUpBig">
                            <h2><img src="assets/images/t-logo.png" alt="t-logo"></h2>
                            <p>I have participated in both workshops & classes taught by Sue since 1997. She is a highly skilled, perceptive & empathetic teacher, a fine person with a wonderful sense of humour!</p>
                            <div class="testimonials-text">
                                <img src="assets/images/t-img.jpg" alt="t-logo">
                                <strong>Martha Gloria - <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></strong>
                                <p>Lost 20 LBS in 6 weeks</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- arrow -->
                <a class="left-control" href="index3.html#home-slider3" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                <a class="right-control" href="index3.html#home-slider3" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <!-- /arrow -->
            </div>
            <!-- /.home-slider -->
        </div>
        <!--  /testimonials  -->
    </section>
    <section class="news-bg">
        <!--  news  -->
        <div class="container">
            <div class="title">
                <h2>Latest Blog</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 pad">
                    <div class="news-lg-img">
                        <img src="assets/images/blog-lg3.jpg" alt="blog-lg">
                        <div class="news-lg-img-text">
                            <a href="/blog">
                                <h4>Yoga & Meditation Retreat in Sicily</h4>
                            </a>
                            <div class="news-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 20 Fer , 2017 </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <!--  news-sbox  -->
                    <div class="news-sbox">
                        <div class="col-sm-5 col-md-5">
                            <img src="assets/images/blog-s-img7.jpg" alt="blog-lg">
                        </div>
                        <div class="col-sm-7 col-md-7">
                            <a href="/blog">
                                <h4>Morning Yoga Yoga To Start Your Day!</h4>
                            </a>
                            <div class="news-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 20 Fer , 2017 </div>
                            <p>So you’ve got on board the HIIT train. Maybe it was because you saw t</p>
                        </div>
                    </div>
                    <!--  /news-sbox  -->
                    <!--  news-sbox  -->
                    <div class="news-sbox">
                        <div class="col-sm-5 col-md-5">
                            <img src="assets/images/blog-s-img8.jpg" alt="blog-lg">
                        </div>
                        <div class="col-sm-7 col-md-7">
                            <a href="/blog">
                                <h4>Morning Yoga Yoga To Start Your Day!</h4>
                            </a>
                            <div class="news-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 20 Fer , 2017 </div>
                            <p>So you’ve got on board the HIIT train. Maybe it was because you saw t</p>
                        </div>
                    </div>
                    <!--  /news-sbox  -->
                    <!--  news-sbox  -->
                    <div class="news-sbox">
                        <div class="col-sm-5 col-md-5">
                            <img src="assets/images/blog-s-img9.jpg" alt="blog-lg">
                        </div>
                        <div class="col-sm-7 col-md-7">
                            <a href="/blog">
                                <h4>Morning Yoga Yoga To Start Your Day!</h4>
                            </a>
                            <div class="news-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 20 Fer , 2017 </div>
                            <p>So you’ve got on board the HIIT train. Maybe it was because you saw t</p>
                        </div>
                    </div>
                    <!--  /news-sbox  -->
                </div>
            </div>
        </div>
        <!--  news  -->
    </section>
    <section class="product">
        <!--  product  -->
        <div class="container">
            <div class="title">
                <h2>OUR Products</h2>
            </div>
            <div class="owl-carousel owl-theme product-carousel">
                <div class="item">
                    <div class="col-md-12">
                        <!--  product-img  -->
                        <div class="product-img">
                            <img src="assets/images/product-img1.jpg" alt="blog-lg">
                            <!--  product-img-hover  -->
                            <div class="product-img-hover">
                                <a href="/booking">SHOP NOW</a>
                            </div>
                            <!--  /product-img-hover  -->
                        </div>
                        <!--  /product-img  -->
                        <!--  product-text  -->
                        <div class="product-text">
                            <p>Fauxfur jacquard cardigan</p>
                            <strong>$280.00</strong>
                        </div>
                        <!--  /product-text  -->
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12">
                        <!--  product-img  -->
                        <div class="product-img">
                            <img src="assets/images/product-img2.jpg" alt="blog-lg">
                            <!--  product-img-hover  -->
                            <div class="product-img-hover">
                                <a href="/booking">SHOP NOW</a>
                            </div>
                            <!--  /product-img-hover  -->
                        </div>
                        <!--  /product-img  -->
                        <!--  product-text  -->
                        <div class="product-text">
                            <p>Fauxfur jacquard cardigan</p>
                            <strong>$280.00</strong>
                        </div>
                        <!--  /product-text  -->
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12">
                        <!--  product-img  -->
                        <div class="product-img">
                            <img src="assets/images/product-img3.jpg" alt="blog-lg">
                            <!--  product-img-hover  -->
                            <div class="product-img-hover">
                                <a href="/booking">SHOP NOW</a>
                            </div>
                            <!--  /product-img-hover  -->
                        </div>
                        <!--  /product-img  -->
                        <!--  product-text  -->
                        <div class="product-text">
                            <p>Fauxfur jacquard cardigan</p>
                            <strong>$280.00</strong>
                        </div>
                        <!--  /product-text  -->
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12">
                        <!--  product-img  -->
                        <div class="product-img">
                            <img src="assets/images/product-img4.jpg" alt="blog-lg">
                            <!--  product-img-hover  -->
                            <div class="product-img-hover">
                                <a href="/booking">SHOP NOW</a>
                            </div>
                            <!--  /product-img-hover  -->
                        </div>
                        <!--  /product-img  -->
                        <!--  product-text  -->
                        <div class="product-text">
                            <p>Fauxfur jacquard cardigan</p>
                            <strong>$280.00</strong>
                        </div>
                        <!--  /product-text  -->
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12">
                        <!--  product-img  -->
                        <div class="product-img">
                            <img src="assets/images/product-img1.jpg" alt="blog-lg">
                            <!--  product-img-hover  -->
                            <div class="product-img-hover">
                                <a href="/booking">SHOP NOW</a>
                            </div>
                            <!--  /product-img-hover  -->
                        </div>
                        <!--  /product-img  -->
                        <!--  product-text  -->
                        <div class="product-text">
                            <p>Fauxfur jacquard cardigan</p>
                            <strong>$280.00</strong>
                        </div>
                        <!--  /product-text  -->
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12">
                        <!--  product-img  -->
                        <div class="product-img">
                            <img src="assets/images/product-img3.jpg" alt="blog-lg">
                            <!--  product-img-hover  -->
                            <div class="product-img-hover">
                                <a href="/booking">SHOP NOW</a>
                            </div>
                            <!--  /product-img-hover  -->
                        </div>
                        <!--  /product-img  -->
                        <!--  product-text  -->
                        <div class="product-text">
                            <p>Fauxfur jacquard cardigan</p>
                            <strong>$280.00</strong>
                        </div>
                        <!--  /product-text  -->
                    </div>
                </div>
            </div>
        </div>
        <!--  /product  -->
    </section>
   