 
<div id="preloader">
      <div id="loading"> </div>
   </div>
 <section class="inner-main">
         <!-- inner-main -->
         <div class="container">

          <div class="inner-header">
            <div class="container">
               <div class="col-md-12">
                  <!-- heading-text  --> 
                  <div class="heading-text">
                     <h1>Service</h1>
                     <ul>
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li><a href="/services">Service</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>

            <div class="row">
               <!-- leftside -->
               <div class="col-md-3 col-sm-3 leftside">
                  <div class="weight">
					 <!-- weight -->
                     <div class="left-menu">
                        <h2>Full-body Massages</h2>
                        <ul>
                           <li><a href="/services">Aromatherapy</a></li>
                           <li><a href="/services">Facial Massages</a></li>
                           <li><a href="/services">Body Treatments</a></li>
                           <li><a href="/services">Skincare</a></li>
                           <li><a href="/services">Hair Salon</a></li>
                           <li><a href="/services">Laser Therapy</a></li>
                           <li><a href="/services">Nail Care</a></li>
                           <li><a href="/services">Tattoo</a></li>
                        </ul>
                     </div>
					 <!-- /weight -->
                  </div>
				  <div class="weight">
					 <!-- weight -->
					 <div class="left-testimonials">
					 <!-- left-testimonials -->
                    <div id="home-slider3" class="carousel slide carousel-fade" data-ride="carousel">
               <!-- .home-slider -->
               <div class="carousel-inner">
                  <div class="item">
                     <div class="caption2">      
<div class="header-text2 animated fadeInUpBig">							
<p>" My experience with Construct is absolutely positive. The themes are beautifully designed and well documented. Construct provides quick and competent support."</p>
<div class="testimonials-text">								
<strong>Alex Poole - <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></strong>
			<p>CEO DeerCreative</p>
				</div>
				</div>
                     </div>
                  </div>
          <div class="item">
           <div class="caption2">   
           	<div class="header-text2 animated fadeInUpBig">							
<p>" My experience with Construct is absolutely positive. The themes are beautifully designed and well documented. Construct provides quick and competent support."</p>
<div class="testimonials-text">								
<strong>Alex Poole - <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></strong>
								<p>CEO DeerCreative</p>
							</div>
							</div>
                     </div>
                  </div>
	<div class="item active">
     <div class="caption2">      
	<div class="header-text2 animated fadeInUpBig">							
	<p>" My experience with Construct is absolutely positive. The themes are beautifully designed and well documented. Construct provides quick and competent support."</p>
	<div class="testimonials-text">								
	<strong>Alex Poole - <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></strong>
		<p>CEO DeerCreative</p>
							</div>
							</div>
                     </div>
                  </div>
                  <!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#home-slider3" data-slide-to="0" class="active"></li>
		<li data-target="#home-slider3" data-slide-to="1"></li>
		<li data-target="#home-slider3" data-slide-to="2"></li>					
					</ol> 
                  <!-- /Indicators -->        
               </div>
               <!-- /.home-slider -->
            </div>
					 
		 <a href="services.html#">Download PDF <i class="fa fa-download" aria-hidden="true"></i></a>
					 <!-- /left-testimonials -->
					 </div>
					 
					 <!-- /weight -->
                  </div>
				  <div class="weight">
					 <!-- weight -->
                     <div class="how-can-help">
						<h2>How can we help you?</h2>
						<p>Contact us at the Consultec WP office nearest to you or submit a business inquiry online.</p>
						 <a href="services.html#">contact us</a>
					 </div>
					 <!-- /weight -->
                  </div>
               </div>
               <!-- /leftside -->
               <!-- rightside -->
               <div class="col-sm-9 col-md-9">
                  <img src="assets/images/full-body-img.jpg" alt="full-body-img">
				  <!-- service-content -->
				  <div class="service-content">
						<h4>Full-body Massages</h4>
						<p>Did you know Petrochemicals are lurking in many of your everyday  cosmetics? In fact, chances are, you have at least a 
						handful of products sitting in your bathroom right now containing these dangerous  chemicals, and you didn’t even know!
						</p>
						<p>There are a number of reasons why petrochemicals are bad for you. For starters, they’re made from petroleum, aka the 
						same stuff that goes into our cars. Ick, right? They’re incredibly harmful to the environment and to humans.
						</p>
				  </div>
				  <!-- /service-content -->
                  <div class="row">
                     <div class="col-xs-12 col-sm-5 col-md-5 pad">
                        <img src="assets/images/vedio-img2.jpg" alt="full-body-img">
                     </div>
                     <div class="col-xs-12 col-sm-7 col-md-7">		
                        <div class="panel-group" id="accordion">
							<h3>Frequently Asked Questions</h3>
                           <div class="panel panel-default">
                              <div class="panel-heading">
                                 <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="services.html#collapseOne">
                                    <span class="glyphicon glyphicon-minus"></span>
                                    Is there anything I should bring?
                                    </a>
                                 </h4>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in">
                                 <div class="panel-body">
                                    We provide all amenities and basic cosmetics at the spa. If you would like to fix your makeup after the treatment, please bring your own cosmetics.
                                 </div>
                              </div>
                           </div>
                           <div class="panel panel-default">
                              <div class="panel-heading">
                                 <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="services.html#collapseTwo">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Are the treatments for reservation only?
                                    </a>
                                 </h4>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    We provide all amenities and basic cosmetics at the spa. If you would like to fix your makeup after the treatment, please bring your own cosmetics.
                                 </div>
                              </div>
                           </div>
                           <div class="panel panel-default">
                              <div class="panel-heading">
                                 <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="services.html#collapseThree">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    What kind of treatment will I get?
                                    </a>
                                 </h4>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    We provide all amenities and basic cosmetics at the spa. If you would like to fix your makeup after the treatment, please bring your own cosmetics.
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
				  <!-- service-content -->
				  <div class="service-content">
						<p>One of the main side effects of petrochemicals is Endocrine Disruption. This is basically when something alters the fine balance of hormones in the body. One of the major disruptors is petrochemicals. These disruptions can cause cancerous tumors, birth defects, and other developmental disorders – any system in the body controlled by hormones can be affected by hormone disruptors.</p>
						<p>If you’ve ever turned over an everyday  cosmetic/skincare product and read the ingredients list, you’ll have noticed names such as propylene glycol, sodium benzoate, potassium sorbate, triclosan – and guess what? They’re all  petrochemicals! Check out our list of 4  petrochemicals you should ALWAYS avoid below.</p>
				  </div>
				  <!-- /service-content -->
				 <div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						 <img src="assets/images/services-img5.jpg" alt="full-body-img">
						 <ul class="server-menu">
							<li>
								<span class="text">OIL MASSAGES</span>
								<span class="text-no">$20</span>
							</li>
							<li>
								<span class="text">Swimming</span>
								<span class="text-no">$30</span>
							</li>
							<li>
								<span class="text">Dance Fitnes</span>
								<span class="text-no">$40</span>
							</li>
							<li>
								<span class="text">Running</span>
								<span class="text-no">$50</span>
							</li>
							<li>
								<span class="text">Body Treatments</span>
								<span class="text-no">$70</span>
							</li>
							<li>
								<span class="text">Cycle Fitness</span>
								<span class="text-no">$80</span>
							</li>
						 </ul>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						 <img src="assets/images/services-img6.jpg" alt="full-body-img">
						 <ul class="server-menu">
							<li>
								<span class="text">OIL MASSAGES</span>
								<span class="text-no">$20</span>
							</li>
							<li>
								<span class="text">Swimming</span>
								<span class="text-no">$30</span>
							</li>
							<li>
								<span class="text">Dance Fitnes</span>
								<span class="text-no">$40</span>
							</li>
							<li>
								<span class="text">Running</span>
								<span class="text-no">$50</span>
							</li>
							<li>
								<span class="text">Body Treatments</span>
								<span class="text-no">$70</span>
							</li>
							<li>
								<span class="text">Cycle Fitness</span>
								<span class="text-no">$80</span>
							</li>
						 </ul>
					</div>
				  </div>
               </div>
               <!-- rightside -->
            </div>
         </div>
         <!-- /inner-main -->
      </section>