
<div id="preloader">
		<div id="loading"> </div>
	</div>
<section class="inner-main">

 <div class="inner-header">
            <div class="container">
               <div class="col-md-12">
                  <!-- heading-text  --> 
                  <div class="heading-text">
                     <h1>Trainer</h1>
                     <ul>
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li><a href="/trainer">Trainer</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
		<!-- inner-main -->
		<div class="trainer-bg trainer-bg2 t-pad">
			<!--  trainer  -->
			<div class="container">
				<div class="title">
					<h2>Best Trainer</h2>
				</div>
	<div class="row">
<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
<div class="trainer-box">
	<div class="trainer-img">
	<h4>
 <img src="assets/images/trainer-img2.jpg" alt="trainer-img1"></h4>
	<a href="/trainer" class="hover">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
							</div>
							<div class="trainer-text">
								<h6>Noah Leonard</h6>
								<p><span>Fitness Instructors</span></p>
								<div class="shire-icon">
									<ul>
	<li><a href="/trainer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li><a href="/trainer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	<li><a href="/trainer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
	<div class="trainer-box">
		<div class="trainer-img">
		<img src="assets/images/trainer-img1.jpg" alt="trainer-img2">
		<a href="/trainer" class="hover">
			<i class="fa fa-plus" aria-hidden="true"></i>
		</a>
			</div>
			<div class="trainer-text">
			<h6>Noah Leonard</h6>
	<p><span>Fitness Instructors</span></p>
		<div class="shire-icon">
					<ul>
		<li><a href="/trainer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li><a href="/trainer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		<li><a href="/trainer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
			<div class="trainer-box">
		<div class="trainer-img">
			<img src="assets/images/trainer-img8.jpg" alt="trainer-img3">
		<a href="/trainer" class="hover">
			<i class="fa fa-plus" aria-hidden="true"></i>
				</a>
			</div>
			<div class="trainer-text">
				<h6>Noah Leonard</h6>
			<p><span>Fitness Instructors</span></p>
			<div class="shire-icon">
									<ul>
		<li><a href="/trainer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	<li><a href="/trainer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	<li><a href="/trainer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
	<div class="trainer-box">
		<div class="trainer-img">
		<img src="assets/images/trainer-img9.jpg" alt="trainer-img4">
		<a href="/trainer" class="hover">
		<i class="fa fa-plus" aria-hidden="true"></i>
					</a>
				</div>
			<div class="trainer-text">
			<h6>Noah Leonard</h6>
	<p><span>Fitness Instructors</span></p>
		<div class="shire-icon">
						<ul>
		<li><a href="/trainer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li><a href="/trainer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		<li><a href="/trainer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
				</div>
			</div>
			<!--  /trainer  -->
		</div>


		<section class="testimonials-bg">
			<!--  testimonials  -->
			<div id="home-slider3" class="carousel slide carousel-fade" data-ride="carousel">
				<!-- .home-slider -->
				<div class="carousel-inner">
			<div class="item active">
			<div class="caption">
		<div class="header-text2 animated fadeInUpBig">
			<h2><img src="assets/images/t-logo.png" alt="t-logo"></h2>
			<p>I have participated in both workshops & classes taught by Sue since 1997. She is a highly skilled, perceptive & empathetic teacher, a fine person with a wonderful sense of humour!</p>
			<div class="testimonials-text">
			<img src="assets/images/t-img.jpg" alt="t-logo">
				<strong>Martha Gloria - <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></strong>
			<p>Lost 20 LBS in 6 weeks</p>
								</div>
							</div>
						</div>
					</div>
			<div class="item">
			<div class="caption">
			<div class="header-text2 animated fadeInUpBig">
			<h2><img src="assets/images/t-logo.png" alt="t-logo"></h2>
			<p>I have participated in both workshops & classes taught by Sue since 1997. She is a highly skilled, perceptive & empathetic teacher, a fine person with a wonderful sense of humour!</p>
			<div class="testimonials-text">
				<img src="assets/images/t-img.jpg" alt="t-logo">
			<strong>Martha Gloria - <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></strong>
			<p>Lost 20 LBS in 6 weeks</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
				<div class="caption">
				<div class="header-text2 animated fadeInUpBig">
				<h2><img src="assets/images/t-logo.png" alt="t-logo"></h2>
				<p>I have participated in both workshops & classes taught by Sue since 1997. She is a highly skilled, perceptive & empathetic teacher, a fine person with a wonderful sense of humour!</p>
				<div class="testimonials-text">
				<img src="assets/images/t-img.jpg" alt="t-logo">
				<strong>Martha Gloria - <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></strong>
									<p>Lost 20 LBS in 6 weeks</p>
								</div>
							</div>
						</div>
					</div>
					<!-- arrow -->
		<a class="left-control" href="tranier.html#home-slider3" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
					<a class="right-control" href="tranier.html#home-slider3" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					<!-- /arrow -->
				</div>
				<!-- /.home-slider -->
			</div>
			<!--  /testimonials  -->
		</section>
		<section class="trainer-bg trainer-bg2 trainer-bg3">
			<!--  trainer  -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
			<div class="trainer-box">
				<div class="trainer-img">
					<img src="assets/images/trainer-img2.jpg" alt="trainer-img1">
		<a href="/trainer" class="hover">
			<i class="fa fa-plus" aria-hidden="true"></i>
					</a>
				</div>
			<div class="trainer-text">
				<h6>Noah Leonard</h6>
				<p><span>Fitness Instructors</span></p>
				<div class="shire-icon">
									<ul>
		<li><a href="/trainer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="/trainer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="/trainer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
						<div class="trainer-box">
			<div class="trainer-img">
				<img src="assets/images/trainer-img1.jpg" alt="trainer-img2">
				<a href="/trainer" class="hover">
			<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
							</div>
			<div class="trainer-text">
					<h6>Noah Leonard</h6>
					<p><span>Fitness Instructors</span></p>
				<div class="shire-icon">
									<ul>
				<li><a href="/trainer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="/trainer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="/trainer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
			<div class="trainer-box">
				<div class="trainer-img">
			<img src="assets/images/trainer-img10.jpg" alt="trainer-img3">
			<a href="/trainer" class="hover">
				<i class="fa fa-plus" aria-hidden="true"></i>
					</a>
				</div>
			<div class="trainer-text">
					<h6>Noah Leonard</h6>
								<p><span>Fitness Instructors</span></p>
				<div class="shire-icon">
									<ul>
					<li><a href="/trainer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li><a href="/trainer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="/trainer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
			<div class="trainer-box">
				<div class="trainer-img">
				<img src="assets/images/trainer-img9.jpg" alt="trainer-img4">
				<a href="/trainer" class="hover">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
							</div>
							<div class="trainer-text">
								<h6>Noah Leonard</h6>
								<p><span>Fitness Instructors</span></p>
								<div class="shire-icon">
									<ul>
			<li><a href="/trainer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="/trainer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="/trainer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
						<div class="trainer-box">
							<div class="trainer-img">
								<img src="assets/images/trainer-img11.jpg" alt="trainer-img1">
								<a href="/trainer" class="hover">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
							</div>
							<div class="trainer-text">
								<h6>Noah Leonard</h6>
								<p><span>Fitness Instructors</span></p>
								<div class="shire-icon">
									<ul>
										<li><a href="/trainer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="/trainer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="/trainer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
						<div class="trainer-box">
							<div class="trainer-img">
								<img src="assets/images/trainer-img12.jpg" alt="trainer-img2">
								<a href="/trainer" class="hover">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
							</div>
							<div class="trainer-text">
								<h6>Noah Leonard</h6>
								<p><span>Fitness Instructors</span></p>
								<div class="shire-icon">
									<ul>
										<li><a href="/trainer"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="/trainer"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="/trainer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
						<div class="trainer-box">
							<div class="trainer-img">
								<img src="assets/images/trainer-img13.jpg" alt="trainer-img3">
								<a href="/trainer" class="hover">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
							</div>
							<div class="trainer-text">
								<h6>Noah Leonard</h6>
								<p><span>Fitness Instructors</span></p>
								<div class="shire-icon">
									<ul>
										<li><a href="tranier.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="tranier.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="tranier.html#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3">
						<!--  trainer-box  -->
						<div class="trainer-box">
							<div class="trainer-img">
								<img src="assets/images/trainer-img14.jpg" alt="trainer-img4">
								<a href="/trainer" class="hover">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
							</div>
							<div class="trainer-text">
								<h6>Noah Leonard</h6>
								<p><span>Fitness Instructors</span></p>
								<div class="shire-icon">
									<ul>
										<li><a href="tranier.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="tranier.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="tranier.html#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--  /trainer-box  -->
					</div>
					<div class="col-md-12">
						<ul class="pagination">
							<li class="active"><a href="/trainer">1</a></li>
							<li><a href="/trainer">2</a></li>
							<li><a href="/trainer">Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
						</ul>
					</div>

				</div>
			</div>
			<!--  /trainer  -->
		</section>
	</section>